body{
    background-color: lightslategrey;
    margin: 0;
    height:auto;
    min-height: 100%;
    width:100%;
    font-family: 'Catamaran', sans-serif !important;

}




/*navbar*/
/*navbar*/



.nav{
    text-align: center;
	position: relative;
	
}
ul.nav{
    margin:0;
    padding:0;
    list-style: none;
    /*font-family: 'Red Hat Text', sans-serif;*/
    /*font-family: 'Rosario', sans-serif;*/
    font-family: 'Catamaran', sans-serif;

  
    font-size: 20px;

    display: flex;
	justify-content: center;
	margin-top: .4em;
    
}

ul.nav li{
    float: left;

}

ul.nav a{
  
    padding:0 28px ;
    color: rgb(224, 214, 214);
    text-decoration: none;

    /*makes hover slower*/
    transition: all 250ms ease-in-out;

}

ul.nav a:hover{
    color:white;
}

/*navbar*/
/*navbar*/




/*about*/

h2 {
	text-align: center; 
	letter-spacing: 5px;
	padding-top: 15px; 
	padding-bottom: 10px;
	margin: 0; 
}

.background-container {
	background-color: rgba(0,38,87,0.75);
	display: block; 
	height: 100%;
}

.navbar {
	overflow: hidden;
	position: sticky;
	top: 0;
	width: 100%;
	min-height: 62px; 
	z-index: 10; 
	background-color: black; 
	border-bottom-left-radius: 5px; 
	border-bottom-right-radius: 5px; 
}

.navbar a {
	text-align: center;
	background-color: black; 
	font-weight: bolder; 
}

.navbar a:hover {
	background-color: silver;
	color: black; 
}

.navbar .pagelinks {
	display: none;
	text-align: center;
	position: absolute; 
	width: 400px;
	left: 0; 
	right: 0; 
	margin: 0 auto;
	padding-left: 20px; 
	padding-top: 15px; 
}

.navbar .pagelinks a {
	color: antiquewhite; 
	text-decoration: none; 
}

.navbar .pagelinks a:hover {
	background-color: black; 
	color: lightsalmon;
}

#h-full {
	opacity: 0.6;
}

#h-shortened {
	opacity: 0.6;
	display: none;
}

.navbar .button { 
	float: left;
	display: block;	
	color: rgba(241,241,241,1);
	padding: 16px 16px 26px 16px;		
	text-decoration: none;
} 

.navbar .button-image {
	float: right; 
	display: block;   
	padding: 10px 10px;
}

.links {
	text-align: center; 
	width: 100%; 	
}

.links a{
	color: antiquewhite;
	text-decoration: none; 
}

.links a:hover{
	color: lightsalmon;
}

main { 
	margin-top: 20px;
	min-height: 79vh;
} 

.content_container {
	font-family: "Fira Sans", serif; 
	width: 100%; 
	box-sizing: border-box;
	display: inline-block; 
	text-align: center;
	min-height: 600px; 
	margin: 0 ;
	padding: 0px; 
	padding-top: 3em;
	padding-bottom: 50px;
	color: black;
    line-height: 28pt;
    margin-top:-20em;
}

.content_container h2 {
	font-size: 2.5em;
	padding: 60px; 
	padding-bottom: 10px; 
	padding-top: 80px; 
}

.content_container h3 {
	font-size: 1.75em;
	font-weight: normal;
	margin-top: 10px; 
	margin-bottom: 10px; 
}

#projects img {
	width: 35%;
	height:35%;
	border: 6px solid black;
	margin-bottom: 30px;
}

.line-break {
	border-top: 1px solid white;
	width: 80%;
	margin-bottom: 40px; 
}

.row {
	width: 100%;
	margin-bottom: 30px;
}

.row:after {
	content: "";
	display: table; 
	clear: both;
}

.row .col-third {
	text-align: center; 
	width: 32%;
	float: left;
}

.row .col-two-thirds {
	text-align: justify;
	line-height: 18pt; 
	width: 62%;
	float: left; 
	margin-bottom: 60px; 
	padding-top: 15px; 
	padding-left: 20px; 
}

.col1 {
	float: left;
	width: 30%;
    padding-top: 0em; 
    margin-top:-3em;
}

.col2 {
	text-align: left; 
	width: 50%; 
	float: left; 
	padding-left: 0px;
    padding-right: 0px;
    padding-top:0em;
}

.row .column {
	width: 50%;
	float: left; 
}

.row .column .info-list {
	text-align: left; 
	padding-left: 35%;
	list-style-type: circle;
}

.form-container {
	width: 100%; 
	text-align: center; 
	padding-top: 10px; 
	overflow: auto;
}

footer {
	margin: 10px;
	margin-bottom: 0;
	text-align: center; 
	padding: 5px; 
	border-radius: 5px;
	background-color: rgba(70,130,180,0.8);
}


/*about*/


/*experience*/
.table {
    
	width:100%;
	max-width:800px;
	border:0px;
	border-spacing:0px;
	border-collapse:separate;
	margin: 0 auto;
}

.subheader {
    font-family: 'Catamaran', sans-serif;
    margin-bottom: 0 auto;
    color:white;
    font-weight: 100;
    font-size: 30px;
}

.descriptionTD{
    font-family: 'Catamaran', sans-serif;
	padding: 0 2.5% 2.5% 2.5%;  /* top right bottom left*/
    /*width: 60%;*/
    color:white;
}
.descriptionTD1{
    font-family: 'Catamaran', sans-serif;
	float:right;  /* top right bottom left*/
    /*width: 60%;*/
    color:white;
}
.descriptionTD2{
    font-family: 'Fira Sans', serif; 
    font-family: 'Fira Sans', serif; 
	float:right;  /* top right bottom left*/
    /*width: 60%;*/
    color:white;
}
.logoTD{
	/*padding: 2.5% 2.5% 2.5% 0;*/
	text-align: center;
    width: 12%;

    margin:0;
    

}

.logoTD img{
	width: 100%;
}

#appleTD img{   /* fix to make logo smaller */
	width: 65%;
}

#lockheed img{     
    width: 150%;
    height:15%;
    margin-left:-2.5em;
}

#qualcomm img{
    width: 150%;
    height:3.4%;
    margin-left:-2.5em;
}

#cove img{
	width:150%;
	margin-left: -2.5em;
}

#clock img{
	width:120%;
	margin-left:-1.2em;
}

#robot img{
	width:100%;

}

/* experience*/
